/* Color scheme. */

body {
    font-family: sans-serif;
    background:  black;
    color:       greenyellow;
}

a:link {
    color: cyan;
}
a:hover {
    color: darkcyan;
}
a:visited {
    color: hotpink;
}
a:active {
    color: purple;
}



/* Makes header and content appear side-by-side. */

header {
    position: fixed;
    left:     2vw;
    width:    25vw;
}

main {
    position:      fixed;
    margin-left:   30vw;
    margin-right:  4vw;
    padding-right: 2vw;
    left:          0;
    right:         0;

    height:     100vh;
    overflow-y: scroll;
}



/* Cool CRT effects from https://aleclownes.com/2017/02/01/crt-display.html */

/* Adds color seperation effect to text. */
body {
    animation: textShadow 1.6s infinite;
}
@keyframes textShadow {
  0%   { text-shadow: 0.215px 0 1px rgba(0,30,255,0.5), -0.215px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  5%   { text-shadow: 1.395px 0 1px rgba(0,30,255,0.5), -1.395px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  10%  { text-shadow: 0.015px 0 1px rgba(0,30,255,0.5), -0.015px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  15%  { text-shadow: 0.2px   0 1px rgba(0,30,255,0.5), -0.2px   0 1px rgba(255,0,80,0.3), 0 0 3px; }
  20%  { text-shadow: 1.74px  0 1px rgba(0,30,255,0.5), -1.74px  0 1px rgba(255,0,80,0.3), 0 0 3px; }
  25%  { text-shadow: 0.805px 0 1px rgba(0,30,255,0.5), -0.805px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  30%  { text-shadow: 0.35px  0 1px rgba(0,30,255,0.5), -0.35px  0 1px rgba(255,0,80,0.3), 0 0 3px; }
  35%  { text-shadow: 1.945px 0 1px rgba(0,30,255,0.5), -1.945px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  40%  { text-shadow: 1.935px 0 1px rgba(0,30,255,0.5), -1.935px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  45%  { text-shadow: 1.115px 0 1px rgba(0,30,255,0.5), -1.115px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  50%  { text-shadow: 0.04px  0 1px rgba(0,30,255,0.5), -0.04px  0 1px rgba(255,0,80,0.3), 0 0 3px; }
  55%  { text-shadow: 1.19px  0 1px rgba(0,30,255,0.5), -1.19px  0 1px rgba(255,0,80,0.3), 0 0 3px; }
  60%  { text-shadow: 1.1px   0 1px rgba(0,30,255,0.5), -1.1px   0 1px rgba(255,0,80,0.3), 0 0 3px; }
  65%  { text-shadow: 1.43px  0 1px rgba(0,30,255,0.5), -1.43px  0 1px rgba(255,0,80,0.3), 0 0 3px; }
  70%  { text-shadow: 0.24px  0 1px rgba(0,30,255,0.5), -0.24px  0 1px rgba(255,0,80,0.3), 0 0 3px; }
  75%  { text-shadow: 0.945px 0 1px rgba(0,30,255,0.5), -0.945px 0 1px rgba(255,0,80,0.3), 0 0 3px; }
  80%  { text-shadow: 0.04px  0 1px rgba(0,30,255,0.5), -0.04px  0 1px rgba(255,0,80,0.3), 0 0 3px; }
  85%  { text-shadow: 0.05px  0 1px rgba(0,30,255,0.5), -0.05px  0 1px rgba(255,0,80,0.3), 0 0 3px; }
  90%  { text-shadow: 1.72px  0 1px rgba(0,30,255,0.5), -1.72px  0 1px rgba(255,0,80,0.3), 0 0 3px; }
  95%  { text-shadow: 1.09px  0 1px rgba(0,30,255,0.5), -1.09px  0 1px rgba(255,0,80,0.3), 0 0 3px; }
  100% { text-shadow: 1.31px  0 1px rgba(0,30,255,0.5), -1.31px  0 1px rgba(255,0,80,0.3), 0 0 3px; }
}

/* Applies "Screen-Door" effect for scanlines and big pixels. */
body::before {
  content:  " ";
  display:  block;
  position: absolute;
  top:      0;
  left:     0;
  bottom:   0;
  right:    0;

  background:      linear-gradient(rgba(18,16,16,0) 50%, rgba(0,0,0,0.25) 50%)
                 , linear-gradient( 90deg
                                  , rgba(255,0,0,0.06)
                                  , rgba(0,255,0,0.02)
                                  , rgba(0,0,255,0.06));
  background-size: 100% 2px, 3px 100%;
  z-index:         2;

  pointer-events: none;
}

/* Makes screen flicker. */
body::after {
  content:  " ";
  display:  block;
  position: absolute;
  top:      0;
  left:     0;
  bottom:   0;
  right:    0;

  background: rgba(18, 16, 16, 0.1);
  opacity:    0;
  animation:  flicker 0.3s infinite;
  z-index:    2;

  pointer-events: none;
}
@keyframes flicker {
  0%   { opacity: 0.27861; }
  5%   { opacity: 0.34769; }
  10%  { opacity: 0.23604; }
  15%  { opacity: 0.90626; }
  20%  { opacity: 0.18128; }
  25%  { opacity: 0.83891; }
  30%  { opacity: 0.65583; }
  35%  { opacity: 0.67807; }
  40%  { opacity: 0.26559; }
  45%  { opacity: 0.84693; }
  50%  { opacity: 0.96019; }
  55%  { opacity: 0.08594; }
  60%  { opacity: 0.20313; }
  65%  { opacity: 0.71988; }
  70%  { opacity: 0.53455; }
  75%  { opacity: 0.37288; }
  80%  { opacity: 0.71428; }
  85%  { opacity: 0.70419; }
  90%  { opacity: 0.7003;  }
  95%  { opacity: 0.36108; }
  100% { opacity: 0.24387; }
}
