<h3>Alex @ {{ time.Format ":date_long" "2025-05-04" }}</h3>
<p>
  Amazing website! seeing personal blogs like this really make me want to start
  one myself
</p>
<h3>TommyGoM @ {{ time.Format ":date_long" "2025-04-30" }}</h3>
<p>
  hi
</p>
<h3>A passer by @ {{ time.Format ":date_long" "2025-03-28" }}</h3>
<p>
  A technological wonder of css. Recently i've found another wonder but, of html
  and determination <em><strong>[REDACTED - SUS LINK]</strong></em>
</p>
<h3>rando @ {{ time.Format ":date_long" "2025-03-22" }}</h3>
<p>
  I like this website. Nice job.
</p>
<h3>#1 fan of you @ {{ time.Format ":date_long" "2025-02-20" }}</h3>
<p>
  HELLO! I am a big fan of your website, it's so cute! You seem like an awesome
  dude and I wish you the best!
</p>
