<form method="POST" action="/api/guestbook.php">
  <input style="width:100%" name="name" maxlength="256" placeholder="{{ T "guestbookName" }}">
  <input style="width:100%" name="websites" maxlength="1024" placeholder="{{ T "guestbookWebsites" }}">
  <br>
  <textarea style="width:100%;height:200px" name="message" maxlength="4096" required="" placeholder="{{ T "guestbookMessage" }}"></textarea>
  <br>
  <input type="hidden" name="language" value="{{ .Site.Language.Lang }}">
  <input class="sitelen-sa" type="submit" value="{{ T "guestbookSubmit" }}">
</form>
