<h3><span class="sitelen-sa-ala">GeorgeAssen @ </span>{{ partial "date" "2025-06-17" }}</h3>
<p class="sitelen-sa-ala">
  Kaixo, zure prezioa jakin nahi nuen.
</p>
<blockquote>
  <h3>{{ partial "name" }}</h3>
  <p class="sitelen-sa-ala">
    このサイトは？<br>
    それとも... あ・た・し？
  </p>
</blockquote>
<h3><span class="sitelen-sa-ala">random person lol @ </span>{{ partial "date" "2025-06-10" }}</h3>
<p class="sitelen-sa-ala">
  found this onion site randomly lol, very nice site!
</p>
<h3><span class="sitelen-sa-ala">Alex @ </span>{{ partial "date" "2025-05-04" }}</h3>
<p class="sitelen-sa-ala">
  Amazing website! seeing personal blogs like this really make me want to start
  one myself
</p>
<h3><span class="sitelen-sa-ala">TommyGoM @ </span>{{ partial "date" "2025-04-30" }}</h3>
<p class="sitelen-sa-ala">
  hi
</p>
<h3><span class="sitelen-sa-ala">A passer by @ </span>{{ partial "date" "2025-03-28" }}</h3>
<p class="sitelen-sa-ala">
  A technological wonder of css. Recently i've found another wonder but, of html
  and determination <em><strong>[REDACTED - SUS LINK]</strong></em>
</p>
<h3><span class="sitelen-sa-ala">rando @ </span>{{ partial "date" "2025-03-22" }}</h3>
<p class="sitelen-sa-ala">
  I like this website. Nice job.
</p>
<h3><span class="sitelen-sa-ala">#1 fan of you @ </span>{{ partial "date" "2025-02-20" }}</h3>
<p class="sitelen-sa-ala">
  HELLO! I am a big fan of your website, it's so cute! You seem like an awesome
  dude and I wish you the best!
</p>
