<p><em>{{ T "tidbitsWritten" }} <span class="sitelen-sa-ala">{{ time.Format ":date_long" "2025-06-05" }}.</span></em></p>
<p>
  tenpo pini la mi sona lili<br>
  tenpo kama la mi sona mute<br>
  taso, tenpo ni la mi sona pona.
</p>
<br>
<p><em>{{ T "tidbitsWritten" }} <span class="sitelen-sa-ala">{{ time.Format ":date_long" "2025-02-26" }}.</span></em></p>
<p class="sitelen-sa-ala">
  Oh CloudFlare, the great Man in the Middle,<br>
  with all our packets in sight,<br>
  you bare all your might,<br>
  leaving no stone unturned,<br>
  and every kilowatt burned,<br>
  and our privacy forever adjurned.
</p>
<br>
<noscript>
  <p><em>{{ T "tidbitsWritten" }} <span class="sitelen-sa-ala">{{ time.Format ":date_long" "2025-02-24" }}</span>.</em></p>
  <p class="sitelen-sa-ala">
    Pages are bloated<br>
    because of that JavaScript<br>
    hog used by soydevs.
  </p>
  <br>
</noscript>
<p><em>{{ T "tidbitsWritten" }} <span class="sitelen-sa-ala">{{ time.Format ":date_long" "2025-02-23" }}</span>.</em></p>
<p class="sitelen-sa-ala">
  To try can be cringe<br>
  but what is truly cringe is<br>
  to not try at all.
</p>
<p><img src="/web-buttons/why-shouldnt-i-post-cringe.gif"></p>
<br>
<p><em>{{ T "tidbitsAdded" }} <span class="sitelen-sa-ala">{{ time.Format ":date_long" "2025-02-04" }}</span>. {{ T "tidbitsWritten" }} ???.</em></p>
<p class="sitelen-sa-ala">
  We are the faceless, the raceless, the nationless, the faithless. All alike,
  bound not by blood, but spirit.
</p>
<br>
<p><em>{{ T "tidbitsWritten" }} <span class="sitelen-sa-ala">{{ time.Format ":date_long" "2024-12-03" }}</span>.</em></p>
<p class="sitelen-sa-ala">
  (2b)∨(~2b)
</p>
<br>
<p><em>{{ T "tidbitsWritten" }} <span class="sitelen-sa-ala">{{ time.Format ":date_long" "2024-12-02" }}</span>.</em></p>
<p class="sitelen-sa-ala">
  One function to map $ them all,<br>
  One function to filter them,<br>
  One function to reduce $ them all,<br>
  And Monad m => >>= m them.
</p>
<br>
<p><em>{{ T "tidbitsWritten" }} <span class="sitelen-sa-ala">{{ time.Format ":date_long" "2024-11-30" }}</span>.</em></p>
<h2 class="sitelen-sa-ala">That Barn</h2>
<p class="sitelen-sa-ala">
  We had gone on a trip, to see the horses.<br>
  The man showed us this one, named it a fine mare.<br>
  Was brown... or maybe white with spots?<br>
  To tell the truth, I wasn't seeing no horse.<br>
  I was looking. My body was there, at that barn.<br>
  <br>
  But my soul - my soul was far, far away, in a world like no other.<br>
  Dark - so, so dark. The shadows reached out as if to take me hostage.<br>
  Out sprawled endless sidewalks, lit by the yellow of aged street lights.<br>
  I walked - I walked, and I walked. The buzzing filled my mind.<br>
  Felt as cold as the concrete roads. Thoughts like static.<br>
  <br>
  And then, I was home. My brother, lanky like a statue, was watching the TV.<br>
  "How was them horses?," he asked, but he wasn't talking to no one.<br>
  "Wasn't nothing too special," as I fled to my room. He murmed something I didn't catch.<br>
  And to my bed I went, to wake up from this dream.
</p>
<br>
<p><em>{{ T "tidbitsAdded" }} <span class="sitelen-sa-ala">{{ time.Format ":date_long" "2024-11-30" }}</span>. {{ T "tidbitsWritten" }} <span class="sitelen-sa-ala">{{ time.Format ":date_long" "2024-09-12" }}</span>.</em></p>
<p class="sitelen-sa-ala">
  I want to fall<br>
  infinitely far<br>
  onto a bed of stars.
</p>
<br>
<p><em>{{ T "tidbitsWritten" }} <span class="sitelen-sa-ala">{{ time.Format ":date_long" "2024-11-21" }}</span>.</em></p>
<p class="sitelen-sa-ala">
  Мир спасет мир!
</p>
<br>
<p><em>{{ T "tidbitsAdded" }} <span class="sitelen-sa-ala">{{ time.Format ":date_long" "2024-11-15" }}</span>. {{ T "tidbitsWritten" }} <span class="sitelen-sa-ala">{{ time.Format ":date_long" "2024-09-12" }}</span>.</em></p>
<p>
  kon li lon<br>
  li namako li suwi<br>
  li kama seli.
</p>
