/* Custom cgit CSS. */



/* Modified from cgit's default CSS. */

:root {
    --background-color: black;
    --main-color:       greenyellow;
    --link-color:       blue;
    --link-hover-color: purple;
}

a:link {
    color: var(--link-color);
}
a:hover {
    color: var(--link-hover-color);
}

input,
select {
    color:            var(--background-color);
    background-color: var(--main-color);
    border-radius:    0;
    border:           none;
}

div#cgit {
    padding: 0em;
    margin:  0em;
    padding: 4px;

    font-family: monospace;
    font-size:   12pt;

    color: var(--main-color);
}
body {
    background: var(--background-color);
}

div#cgit table {
    border-collapse: collapse;
}

div#cgit table#header {
    width:         100%;
    margin-bottom: 1em;
}
div#cgit table#header td.logo {
    width:          96px;
    vertical-align: top;
}
div#cgit table#header td.main {
    font-size:    250%;
    padding-left: 10px;
    white-space:  nowrap;
}
div#cgit table#header td.main a {
    color: var(--main-color);
}
div#cgit table#header td.main a:hover {
    color: var(--link-hover-color);
}
div#cgit table#header td.form {
    text-align:     right;
    vertical-align: bottom;
    padding-right:  1em;
    padding-bottom: 2px;
    white-space:    nowrap;
}
div#cgit table#header td.form form,
div#cgit table#header td.form input,
div#cgit table#header td.form select {
    font-size:        90%;
}
div#cgit table#header td.sub {
    color:        var(--main-color);
    border-top:   solid 1px var(--main-color);
    padding-left: 10px;
}

div#cgit table.tabs {
    border-bottom:   solid 3px var(--main-color);
    border-collapse: collapse;
    margin-top:      2em;
    margin-bottom:   0px;
    width:           100%;
}
div#cgit table.tabs td {
    padding:        0px 1em;
    vertical-align: bottom;
}
div#cgit table.tabs td a {
    padding:   2px 0.75em;
    color:     var(--main-color);
    font-size: 110%;
}
div#cgit table.tabs td a:hover {
    color: var(--link-hover-color);
}
div#cgit table.tabs td a.active {
    color:            var(--background-color);
    background-color: var(--main-color);
}
div#cgit table.tabs td a.active:hover {
    color: var(--link-hover-color);
}
div#cgit table.tabs td.form {
    text-align: right;
}
div#cgit table.tabs td.form form {
    padding-bottom: 2px;
    font-size:      90%;
    white-space:    nowrap;
}
div#cgit table.tabs td.form input,
div#cgit table.tabs td.form select {
    font-size: 90%;
}

div#cgit div.path {
    margin:           0px;
    padding:          5px 2em 2px 2em;
    color:            var(--background-color);
    background-color: yellowgreen;
}

div#cgit div.content {
    margin:  0px;
    padding: 2em;
}

div#cgit table.list {
    width:           100%;
    border:          none;
    border-collapse: collapse;
}

div#cgit table.list tr:nth-child(even) {
    background: yellowgreen;
}
div#cgit table.list tr:nth-child(odd) {
    background: var(--main-color);
}
div#cgit table.list tr:hover {
    background: cyan;
}
div#cgit table.list tr.nohover {
    background: green;
}
div#cgit table.list tr.nohover a {
    color: var(--main-color);
}
div#cgit table.list tr.nohover a:hover {
    color: var(--link-hover-color);
}
div#cgit table.list th {
    font-weight:    bold;
    padding:        0.1em 0.5em 0.05em 0.5em;
    vertical-align: baseline;
}
div#cgit table.list td {
    border:  none;
    padding: 0.1em 0.5em 0.1em 0.5em;
}
div#cgit table.list td.reposection {
    font-style: italic;
    color:      red;
}
div#cgit table.list td.sublevel-repo {
    padding-left: 1.5em;
}
div#cgit table.list td span {
    color: var(--background-color);
}
div#cgit table.nowrap td {
    color: var(--background-color);
}

div#cgit table.list td.commitgraph {
    white-space: pre;
    color:       var(--background-color);
}
div#cgit table.list td.commitgraph .column1 {
    color: #0000FF;
}
div#cgit table.list td.commitgraph .column2 {
    color: #3300CC;
}
div#cgit table.list td.commitgraph .column3 {
    color: #660099;
}
div#cgit table.list td.commitgraph .column4 {
    color: #990066;
}
div#cgit table.list td.commitgraph .column5 {
    color: #CC0033;
}
div#cgit table.list td.commitgraph .column6 {
    color: #FF0000;
}

div#cgit table.list td.logsubject {
    font-weight: bold;
}
div#cgit table.list td.logmsg {
    white-space: pre;
    padding:     0 0.5em;
}

div#cgit table.list td a {
    color: var(--background-color);
}
div#cgit table.list td a:hover {
    color: var(--link-hover-color);
}
div#cgit table.list td a.ls-dir {
    font-weight: bold;
    color:       var(--link-color);
}

div#cgit img {
    border: none;
}

div#cgit input#switch-btn {
    margin: 2px 0px 0px 0px;
}

div#cgit td#sidebar input.txt {
    width:  100%;
    margin: 2px 0px 0px 0px;
}

div#cgit table#grid {
    margin: 0px;
}

div#cgit td#content {
    vertical-align: top;
    padding:        1em 2em 1em 1em;
    border:         none;
}
div#cgit div#summary {
    vertical-align: top;
    margin-bottom:  1em;
}

div#cgit div.error {
    color:       red;
    font-weight: bold;
    margin:      1em 2em;
}

div#cgit td.ls-size {
    text-align: right;
}
div#cgit td.ls-mode,
div#cgit td.ls-size {
    width: 10em;
    color: var(--background-color);
}

div#cgit table.blob {
    margin-top: 0.5em;
    border-top: solid 1px var(--main-color);
}
div#cgit table.blob td.hashes,
div#cgit table.blob td.lines {
    margin:         0;
    padding:        0 0 0 0.5em;
    vertical-align: top;
    color:          var(--main-color);
}
div#cgit table.blob td.linenumbers {
    margin:         0;
    padding:        0 0.5em 0 0.5em;
    vertical-align: top;
    text-align:     right;
    border-right:   1px solid var(--main-color);
}
div#cgit table.blob pre {
    padding: 0;
    margin:  0;
}
div#cgit table.blob td.linenumbers a,
div#cgit table.ssdiff td.lineno a {
    color:           var(--main-color);
    text-align:      right;
    text-decoration: none;
}
div#cgit table.blob td.linenumbers a:hover,
div#cgit table.ssdiff td.lineno a:hover {
    color: var(--link-hover-color);
}

div#cgit table.bin-blob {
    margin-top: 0.5em;
    border:     solid 1px var(--main-color);
}
div#cgit table.bin-blob th {
    white-space: pre;
    border:      solid 1px var(--main-color);
    padding:     0.5em 1em;
}
div#cgit table.bin-blob td {
    white-space: pre;
    border-left: solid 1px var(--main-color);
    padding:     0em 1em;
}

div#cgit table.nowrap td {
    white-space: nowrap;
}

div#cgit div.cgit-panel {
    float:      right;
    margin-top: 1.5em;
}
div#cgit div.cgit-panel table {
    color:            var(--background-color);
    background-color: var(--main-color);
}
div#cgit div.cgit-panel th {
    text-align: center;
}
div#cgit div.cgit-panel td {
    padding: 0.25em 0.5em;
}
div#cgit div.cgit-panel td.label {
    padding-right: 0.5em;
}
div#cgit div.cgit-panel td.ctrl {
    padding-left: 0.5em;
}
div#cgit div.cgit-panel input,
div#cgit div.cgit-panel select {
    color:            var(--main-color);
    background-color: var(--background-color);
}

div#cgit table.commit-info {
    border-collapse: collapse;
    margin-top:      1.5em;
}
div#cgit table.commit-info th {
    text-align:     left;
    font-weight:    normal;
    padding:        0.1em 1em 0.1em 0.1em;
    vertical-align: top;
}
div#cgit table.commit-info td {
    font-weight: normal;
    padding:     0.1em 1em 0.1em 0.1em;
}
div#cgit div.commit-subject {
    font-weight: bold;
    font-size:   125%;
    margin:      1.5em 0em 0.5em 0em;
    padding:     0em;
}
div#cgit div.commit-msg {
    white-space: pre;
}

div#cgit div.diffstat-header {
    font-weight: bold;
    padding-top: 1.5em;
}
div#cgit div.diffstat-header a {
    color: var(--main-color);
}
div#cgit div.diffstat-header a:hover {
    color: var(--link-hover-color);
}
div#cgit table.diffstat {
    background-color: var(--main-color);
    color:            var(--background-color);
}
div#cgit table.diffstat th {
    font-weight:     normal;
    text-align:      left;
    text-decoration: underline;
    padding:         0.1em 1em 0.1em 0.1em;
    font-size:       100%;
}
div#cgit table.diffstat td {
    padding:   0.2em 0.2em 0.1em 0.1em;
    font-size: 100%;
}
div#cgit table.diffstat td.mode {
    white-space: nowrap;
}
div#cgit table.diffstat td span.modechange {
    padding-left: 1em;
    color:        blue;
}
div#cgit table.diffstat td.add a {
    color: green;
}
div#cgit table.diffstat td.del a {
    color: red;
}
div#cgit table.diffstat td.upd a {
    color: blue;
}

div#cgit table.diffstat td.graph {
    width:          500px;
    vertical-align: middle;
}
div#cgit table.diffstat td.graph table {
    border: none;
}
div#cgit table.diffstat td.graph td {
    padding: 0px;
    border:  0px;
    height:  7pt;
}
div#cgit table.diffstat td.graph td.add {
    background-color: #5C5;
}
div#cgit table.diffstat td.graph td.rem {
    background-color: #C55;
}

div#cgit div.diffstat-summary {
    color:       var(--main-color);
    padding-top: 0.5em;
}

div#cgit table.diff {
    width: 100%;
}
div#cgit table.diff td {
    white-space: pre;
}
div#cgit table.diff td div.head {
    font-weight: bold;
    margin-top:  1em;
    color:       var(--main-color);
}
div#cgit table.diff td div.hunk {
    color: #009;
}
div#cgit table.diff td div.add {
    color: green;
}
div#cgit table.diff td div.del {
    color: red;
}

div#cgit .sha1 {
    font-size: 90%;
}

div#cgit .left {
    text-align: left;
}
div#cgit .right {
    text-align: right;
}

div#cgit a.button {
    font-size: 80%;
    padding:   0em 0.5em;
}
div#cgit a.primary {
    font-size: 100%;
}
div#cgit a.secondary {
    font-size: 90%;
}

div#cgit ul.pager {
    list-style-type: none;
    text-align:      center;
    margin:          1em 0em 0em 0em;
    padding:         0;
}
div#cgit ul.pager li {
    display: inline-block;
    margin:  0.25em 0.5em;
}
div#cgit ul.pager a {
    color: var(--link-color);
}
div#cgit ul.pager a:hover {
    color: var(--link-hover-color);
}
div#cgit ul.pager .current {
    font-weight: bold;
}

div#cgit span.insertions {
    color: #080;
}
div#cgit span.deletions {
    color: #800;
}

/* TODO */
div#cgit div.footer {
    margin-top: 0.5em;
    text-align: center;
    font-size: 80%;
    color: #ccc;
}
/* TODO */
div#cgit div.footer a {
    color: #ccc;
    text-decoration: none;
}
/* TODO */
div#cgit div.footer a:hover {
    text-decoration: underline;
}

div#cgit a.branch-deco {
    color:            #000;
    margin:           0px 0.5em;
    padding:          0px 0.25em;
    background-color: #88FF88;
    border:           solid 1px #007700;
}
div#cgit a.tag-deco {
    color:            #000;
    margin:           0px 0.5em;
    padding:          0px 0.25em;
    background-color: #FFFF88;
    border:           solid 1px #777700;
}
div#cgit a.tag-annotated-deco {
    color:            #000;
    margin:           0px 0.5em;
    padding:          0px 0.25em;
    background-color: #FFCC88;
    border:           solid 1px #777700;
}
div#cgit a.remote-deco {
    color:            #000;
    margin:           0px 0.5em;
    padding:          0px 0.25em;
    background-color: #CCCCFF;
    border:           solid 1px #000077;
}
div#cgit a.deco {
    color:            #000;
    margin:           0px 0.5em;
    padding:          0px 0.25em;
    background-color: #FF8888;
    border:           solid 1px #770000;
}
div#cgit div.commit-subject a.branch-deco,
div#cgit div.commit-subject a.tag-deco,
div#cgit div.commit-subject a.tag-annotated-deco,
div#cgit div.commit-subject a.remote-deco,
div#cgit div.commit-subject a.deco {
    margin-left: 1em;
    font-size:   75%;
}

div#cgit table.ssdiff {
    width: 100%;
}
div#cgit table.ssdiff td {
    font-size:    75%;
    white-space:  pre;
    padding:      1px 4px 1px 4px;
    border-left:  solid 1px var(--main-color);
    border-right: solid 1px var(--main-color);
}
div#cgit table.ssdiff td.add {
    color:      var(--background-color);
    background: #5C5;
    min-width:  50%;
}
div#cgit table.ssdiff td.add_dark {
    color:      var(--background-color);
    background: #4B4;
    min-width:  50%;
}
div#cgit table.ssdiff span.add {
    background:  #5C5;
    font-weight: bold;
}
div#cgit table.ssdiff td.del {
    color:      var(--background-color);
    background: #C55;
    min-width:  50%;
}
div#cgit table.ssdiff td.del_dark {
    color:      var(--background-color);
    background: #B44;
    min-width:  50%;
}
div#cgit table.ssdiff span.del {
    background:  #C55;
    font-weight: bold;
}
div#cgit table.ssdiff td.changed {
    color:      var(--background-color);
    background: #5D5;
    min-width:  50%;
}
div#cgit table.ssdiff td.changed_dark {
    color:      var(--background-color);
    background: #4C4;
    min-width:  50%;
}
div#cgit table.ssdiff td.lineno {
    background: var(--background-color);
    text-align: right;
    width:      3em;
    min-width:  3em;
}
div#cgit table.ssdiff td.hunk {
    color:         var(--background-color);
    background:    lightgreen;
    border-top:    solid 1px var(--main-color);
    border-bottom: solid 1px var(--main-color);
}
div#cgit table.ssdiff td.head {
    border-top:    solid 1px var(--main-color);
    border-bottom: solid 1px var(--main-color);
}
div#cgit table.ssdiff td.head div.head {
    font-weight:      bold;
    background-color: var(--main-color);
    color:            var(--background-color);
}
div#cgit table.ssdiff td.foot {
    border-top:    solid 1px var(--main-color);
    border-left:   none;
    border-right:  none;
    border-bottom: none;
}
div#cgit table.ssdiff td.space {
    border: none;
}
div#cgit table.ssdiff td.space div {
    min-height: 3em;
}



/* md2html customization */

/* Header colors.. */
div#cgit .markdown-body h1 a.toclink,
div#cgit .markdown-body h2 a.toclink,
div#cgit .markdown-body h3 a.toclink,
div#cgit .markdown-body h4 a.toclink,
div#cgit .markdown-body h5 a.toclink,
div#cgit .markdown-body h6 a.toclink {
    color: var(--main-color) !important;
}
div#cgit .markdown-body h1 a.toclink:hover,
div#cgit .markdown-body h2 a.toclink:hover,
div#cgit .markdown-body h3 a.toclink:hover,
div#cgit .markdown-body h4 a.toclink:hover,
div#cgit .markdown-body h5 a.toclink:hover,
div#cgit .markdown-body h6 a.toclink:hover {
    color: var(--link-hover-color) !important;
}

/* Color of text in backticks and code blocks. */
div#cgit .markdown-body code {
    color:            var(--background-color);
    background-color: var(--main-color);
    border:           none;
}

/* Code block colors. */
div#cgit .markdown-body .highlight pre, .markdown-body pre {
    color:            var(--background-color);
    background-color: var(--main-color);
    border:           none;
}



/* syntax-highlighting.py customization. */

/* String colors. */
.highlight .s,
.highlight .sc,
.highlight .se,
.highlight .si,
.highlight .s1,
.highlight .sb,
.highlight .s2 {
    background-color: var(--main-color) !important;
}
.highlight .s,
.highlight .sc,
.highlight .s1,
.highlight .sb,
.highlight .s2 {
    color: var(--background-color) !important;
}
.highlight .se {
    color: red !important;
}
.highlight .si {
    color: blue !important;
}
.highlight .ss {
    background-color: var(--background-color) !important;
}



/* Applies "Screen-Door" effect for scanlines and big pixels. */
/* From https://aleclownes.com/2017/02/01/crt-display.html    */
body::before {
  content:  " ";
  display:  block;
  position: fixed;
  top:      0;
  left:     0;
  bottom:   0;
  right:    0;

  background:      linear-gradient(rgba(18,16,16,0) 50%, rgba(0,0,0,0.25) 50%)
                 , linear-gradient( 90deg
                                  , rgba(255,0,0,0.06)
                                  , rgba(0,255,0,0.02)
                                  , rgba(0,0,255,0.06));
  background-size: 100% 2px, 3px 100%;
  z-index:         2;

  pointer-events: none;
}



/* Makes scrollbar appear in Chromium-based broswers as it does in */
/* Firefox-based ones.                                             */

/* Sets width and overall appearance of scrollbar. */
*::-webkit-scrollbar {
    width: 3px;
}

/* Enlarges scrollbar on hover. */
*::-webkit-scrollbar:hover {
    width: 6px;
}

*::-webkit-scrollbar-thumb {
    /* Scrollbar color. */
    background-color: #888;
    /* Adds a fillet to the corners of the scrollbar. */
    border-radius: 10px;
}

/* Slight change in color on hover. */
*::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
